<table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
  <tbody>
    <tr>
      <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
        <%= image_tag("mail2.png", class: "img-responsive my-image") %> <br>
        <%= image_tag("img_name.jpeg", class: "img-responsive my-image") %>
      </td>
    </tr>
    <tr>
      <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
        <table border="1" cellpadding="0" cellspacing="0" width="100%">
          <tr>
             <td style="padding: 20px 0 30px 0; font-family: Futura, Arial, sans-serif; font-size: 18px; text-align: center; background-color: #cc33ff;">
               Thank you for contacting us!
            </td>
          </tr>
          <tr>
            <td style="padding: 10px; font-family: Arial, sans-serif; font-size: 14px;">
              <p><%= @message %></p>
            </td>
          </tr>
          <tr>
            <td>
              <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="260" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td>
                           <%= image_tag("icon_left.png", class: "img-responsive icon_left", style: "margin:0 auto 0 auto; display: block; padding: 5px;") %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 25px 0 5px 5px; font-family: Arial, sans-serif; font-size: 14px;">
                          Here you can find all the information you need about our bikes. This information is there to help you find the perfect bike for your needs. Take a look and let us know if you have any more questions. We are happy to help you!
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td c>
                   &nbsp;
                  </td>
                  <td width="260" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td>
                           <%= image_tag("icon_right.png", class: "img-responsive icon_right", style: "margin:0 auto 0 auto; display: block; padding: 5px;") %>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 25px 0 5px 5px; font-family: Arial, sans-serif; font-size: 14px;">
                          You can find us in differents locations across Berlin. You are welcome to visit and take a look at the bike that interest you, and even take a ride! Come along!
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>    
      </td>
    </tr>
    <tr>
      <td bgcolor="#cc33ff">
        <table border="1" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="75%">
              &copy; 2017 Bike Berlin<br/>
              Unsubscribe
            </td>
            <td align="right">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <%= image_tag("icon_search.png", class: "img-responsive my-image", style: "height: 35px;") %>
                    </a>
                  </td>
                  <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                  <td>
                    <%= image_tag("icon_search.png", class: "img-responsive my-image", style: "height: 35px;") %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>