<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">

    <%= image_tag(@product.image_url, class: "img-responsive") %>

      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Home', landing_page_path %> |
      <%= link_to 'More bikes', products_path %>

      <div class="container" style="margin:15px;">
        <%= render 'comments/new_comment' %>
        <%= render 'comments/comments' %>
      </div>
    </div> <!-- end col-md-12 -->

    <div class="col-md-6 col-xs-12">

      <h3>
        <strong><%= @product.name %></strong>
      </h3>

      <p>
        <%= @product.description %>
      </p>
    
      <p>
        <strong>Color:</strong>
        <%= @product.color %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %><span class="glyphicon glyphicon-euro"></span>
      </p>

      <p class="hidden">
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </p>
      
      <p><strong>Average Rating:</strong></p>
      <p><div class="rated" style="padding-left: 15px;" data-score="<%= @product.average_rating %>"></div></p>

    </div> <!-- end col-md-12 -->

  </div> <!-- end row -->

</div> <!-- end container-fluid -->
