<!DOCTYPE html>
<html>
  <head>
    
    <title>Bike Shop Demo</title>
    
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>

  <body>
  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Home", landing_page_path %>
        </li>
        <li>
          <%= link_to "About us", about_path %>
        </li>
        <li>
          <%= link_to "Our Bikes", products_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-collapse">
        <form class="navbar-form collapsed navbar-right">
          <%= form_tag("/products", method: "get", class: 'navbar-form navbar-right') do %>
          <%= text_field_tag(:q, nil, class: 'form-control navbar-left', placeholder: "Search our Bikes") %>
          <%= submit_tag("Go!", class: 'btn btn-default') %>
          <% end %>
        </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"> 
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log in <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= link_to('Login', new_user_session_path) %>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="dropdown"> 
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "E-mail", contact_path %></li>
            <li><%= link_to "Phone", contact_path %></li>
            <li><%= link_to "Locations", contact_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Locations", contact_path %></li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>

  <%= yield %>

  <footer class="site-footer">
    <div class="site-footer-nav">
      <ul class="site-footer-links">
        <a class="footer-brand" ><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></a>
        <li>
          <%= link_to "Home", landing_page_path %>
        </li>
        <li class="hidden-xs">
          <%= link_to "About us", about_path %>
        </li>
        <li class="hidden-xs">
          <%= link_to "Contact us", contact_path %>
        </li>
        <li style="list-style: none; display: inline">
          <a id="copy-right">&copy; 2017 Bike Berlin</a>
        </li>
      </ul> 
    </div>
  </footer>

  </body>
</html>
